<?xml version="1.0"?>

<model>
  <version>1.0</version>
  <name>rm_webcam_rear</name>
  <sdf version="1.5">rm_webcam_rear.sdf</sdf>

  <author>
    <name>Shu-Nong Wu</name>
    <email>shunongwu@gmail.com</email>
  </author>

  <description>
    Shu-Nong Wu | shunongwu@gmail.com | git@snwu1996
    A model of 3/4 standard usb webcam facing in different directions
  </description>
</model>
