[submodule "mavlink"]
	path = mavlink
	url = https://github.com/mavlink/mavlink-gbp-release.git
[submodule "mavros"]
	path = mavros
	url = https://github.com/mavlink/mavros.git
[submodule "px4_autopilot"]
	path = px4_autopilot
	url = git@github.com:PX4/PX4-Autopilot.git
