<model>
<name>rm_rover_base</name>
<version>1.0</version>
<sdf version="1.5">rm_rover_base.sdf</sdf>
<author>
<name>Cole Biesemeyer</name>
<email>cole.bsmr@gmail.com</email>
</author>
<author>
<name>Nate Koenig</name>
<email>natekoenig@gmail.com</email>
</author>
<description>A model of the Polaris Ranger XP900. Model was adapted by Shu-Nong Wu | shunongwu@gmail.com | git@snwu1996 </description>
</model>
