<?xml version="1.0"?>
<model>
  <name>rm_ultrasonic_sensor_1</name>
  <version>1.0</version>
  <sdf version='1.4'>rm_ultrasonic_sensor_1.sdf</sdf>

  <author>
   <name>Shu-Nong Wu</name>
   <email>shunongwu@gmail.com</email>
  </author>

  <description>
    custom ultrasonic sensor for robo-magellan
  </description>
</model>
